#gameFrame {
    display: flex;
    justify-content: space-around;

    background-color: skyblue;
    height: 800px;
    max-width: 100%;
    margin: auto;
    position: relative;

    overflow: hidden;
    cursor: crosshair;
}   

#healthBar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background-color: red;
    border-radius: 150px;

    transition: width 2s;
}

#start-btn {
    height: 100%;
    width: 100%;

    border: 0;
    box-shadow: none;
    letter-spacing: -1px;

    opacity: 0.5;
}

.grass{
    background-color: lightgreen;
    bottom: 0;
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 2;
}


.enemy {
    width: 150px;
    height: 400px;
    position: absolute;
    border-radius: 150px;
    background-color: #7e5429;
    bottom: -400px;
    transition: all 2s;

    margin:auto;
}

.enemy::before{
    content: "owo";
    position: absolute;
    width: 100%;
    top: 50px;
    font-size: 4em;
}

.enemy.dead:before {
    content: "x_x";
}

.enemy.showing {
    bottom: 0px;

}

.enemy.shooting{
    background-color: red;
}

.enemy.dead {
    background-color: gray;
    height: 50px;
}
