.p-1 {
    padding: 20 !important;
  }
.navbar{
  font-family: 'Noto Serif JP', serif;
  color: black;
}
.card{
  font-family: 'Noto Serif JP', serif;
}
.sidenav-item{
  list-style-type: none;
  text-align: center;
}
.card-text-flower{
  font-family: 'Zen Kaku Gothic New', sans-serif;
}
.card-title-flower{
  font-family: 'Zen Kaku Gothic New', sans-serif;
}
