.p-1 {
    padding: 20 !important;
  }
.navbar{
  font-family: 'Noto Serif JP', serif;
  color: black;
}
.card{
  font-family: 'Noto Serif JP', serif;
}
.sidenav-item{
  list-style-type: none;
  text-align: center;
}
.card-text-flower{
  font-family: 'Zen Kaku Gothic New', sans-serif;
}
.card-title-flower{
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.form-close{
  display: block;
}
.sign-up{
  transform:translate(-50%,-50%);
  position: absolute;
}
.sign-up button{
  cursor:pointer; 
}
.popup{
  position: absolute;
  top:-150%;
  left:50%;
  opacity: 0;
  transform: translate(-50%,-50%) scale(1.25);
  width: 380px;
  padding: 20px 30px;
  background-color: white;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 20ms ease-in-out 0ms;
}
.popup.active{
  top: 50%;
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);
  transition: top 0ms ease-in-out 0ms,
              opacity 200ms ease-in-out 0ms,
              transform 20ms ease-in-out 0ms;
}
.popup .close-btn{
  position: absolute;
  top:10px;
  right:10px;
  width:15px;
  height:15px;
  background: lightgrey;
  color: black;
  text-align: center;
  line-height:15px;
  border-radius: 15px;
  cursor: pointer;
}
.popup .form h2{
  text-align: center;
  color: black;
  margin: 10px 0px 20px;
  font-size: 25px;
}
.popup .form .form-element{
  margin: 15px 0px;
}
.popup .form .form-element label{
  font-size: 22px;
  color: black;
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"]{
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}
.popup .form .form-element button{
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}